.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
engine/src/**
engine/.cargo/**
engine/target/**
engine/Cargo.toml
engine/Cargo.lock
.github/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
